APP_NAME=LineageShield
CONTEXT_PROVIDER=datahub
DATAHUB_GMS_URL=http://localhost:8080
DATAHUB_GMS_TOKEN=
DATAHUB_MUTATIONS_ENABLED=false
DATAHUB_HEALTH_TIMEOUT_SECONDS=6
DATAHUB_LINEAGE_TIMEOUT_SECONDS=30
